<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="color:blue;text-align:center">MEAN CRUD</h4>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text">MEAN CRUD operation in angular for beginners. Database used is Mongodb.</p>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-2"></div>
                    <div class="col-4"><button class="btn btn-success" [routerLink]="['/mean']">website</button></div>
                    <div class="col-4"><button class="btn btn-dark">github</button></div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="color:blue;text-align:center">Angular CRUD</h4>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text">Simple CRUD operation in angular for beginners. Database used is firebase.
                    </p>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-2"></div>
                    <div class="col-4"><button class="btn btn-success" [routerLink]="['/curd']">website</button>
                    </div>
                    <div class="col-4"><button class="btn btn-dark">github</button></div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-3">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="color:blue;text-align:center">Angular CRUD</h4>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text">Simple CRUD operation in angular for beginners. Database used is firebase.
                    </p>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-2"></div>
                    <div class="col-4"><button class="btn btn-success" [routerLink]="['/curd']">website</button>
                    </div>
                    <div class="col-4"><button class="btn btn-dark">github</button></div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h4 style="color:blue;text-align:center">Angular CRUD</h4>
                </div>
                <div class="card-body text-primary">
                    <p class="card-text">Simple CRUD operation in angular for beginners. Database used is firebase.
                    </p>
                </div>
                <div class="row" style="padding-bottom:20px">
                    <div class="col-2"></div>
                    <div class="col-4"><button class="btn btn-success" [routerLink]="['/curd']">website</button>
                    </div>
                    <div class="col-4"><button class="btn btn-dark">github</button></div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>