<div class="container-fluid">
<h1>Employee Management</h1>
<div class="float-right">
<button class="btn btn-success mb-5 " mat-button (click)="onAddEmployee()">Add Employee</button>
</div>
<div class="row">
  <div class="col-md-3">
    <!-- <div class="card mb-3" style="border:2px solid gray">
      <div class="card-body">
        <h2 class="card-title">sreekanth</h2>
        <h3 class="card-subtitle mb-2 text-muted">Full Stack Developer</h3>
        <span class="badge badge-success">Design</span>
        <hr>
        <div >
        <button class="btn btn-primary mr-3" mat-button (click)="openDialog()">Edit</button>
        <button class="btn btn-success" mat-button >Delete</button>
      </div>
      </div>
    </div> -->
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button class="btn btn-primary mr-3" mat-button (click)="openDialog()">Edit</button>
        <button class="btn btn-danger" mat-button >Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- <div class="modal fade show" [class.show]="showModal">
  <div class="modal-dialogue modal-dialogue-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Employee</h5>
        <button class="close" (click)="onCloseModal()" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h1>sree</h1>
    </div>
  </div>
</div> -->

<!-- <mat-checkbox>subscribe</mat-checkbox>
<div class="example-box" cdkDrag>
  Drag me around
</div> -->
<mat-grid-list cols="3" rowHeight="5:1">

  <mat-grid-tile style="background-color: teal;">
    sreefgfgfgfhhg
  </mat-grid-tile>
  <mat-grid-tile style="background-color: rgb(111, 21, 122);">gjhghhg</mat-grid-tile>
  <mat-grid-tile style="background-color: rgb(81, 196, 28);">fyhhhhhhhhhhhhhhhhhhtgfffffffffffffffff</mat-grid-tile>
</mat-grid-list>
</div>