.alert-custom {
    color: #99004d;
    background-color: #f169b4;
    border-color: #800040;
  }

  .my-custom-scrollbar {
    position: relative;
    height: 230px;
    overflow: auto;
    
    }
    .table-wrapper-scroll-y {
    display: block;
    
    }